h1{
  font-family: 'Teko', sans-serif; 
  font-weight: bold;
  font-size: 40px;
}
h2{
  font-family: 'Peralta', cursive;
  font-weight: bold;
  font-size: 40px;
}
h2:hover{
  transform: scale(1.4);
  color: blue;
}
button{
  font-family: 'Russo One', sans-serif;
}
button:hover{
  transform: scale(1.3);
  
}